.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 80px 40px auto;
    grid-template-areas: ". sign-out-link"
                         "title new-bike-button"
                         "bikes-table bikes-table";
    margin: 10px 20px;
}

.sign-out-link {
    grid-area: sign-out-link;
    justify-self: end;
}

.title {
    grid-area: title;
}

.new-bike-button {
    grid-area: new-bike-button;
}

.bikes-table {
    grid-area: bikes-table;
}

.model-row h2 {
    margin: 0;
}

.bike-id {
    color: silver;
}

.bike-model-name {
    font-size: 18px;
    font-weight: bold;
}

.modal {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-areas: "close-btn" "form";
}

.modal .close-btn {
    grid-area: close-btn;
    justify-self: end;
    font-size: 3em;
    margin: 15px 22px;
    color: #949494;
}

.modal .close-btn i {
    cursor: pointer;
}

.modal .close-btn i:hover {
    color: #545454;
}

.form-container {
    grid-area: form;
}
