#app {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 80px 40px auto;
    grid-template-areas: ". sign-out-link"
                         "title new-bike-button"
                         "bikes-table bikes-table";
    margin: 10px 20px;
}

.sign-out-link {
    grid-area: sign-out-link;
    justify-self: end;
    align-self: start;
}

.title {
    grid-area: title;
}

.new-bike-button {
    grid-area: new-bike-button;
}

.bikes-table {
    grid-area: bikes-table;
}

.model-row h2 {
    margin: 0;
}

.bike-id {
    color: silver;
}

.bike-model-name {
    font-size: 18px;
    font-weight: bold;
}

.modal {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-areas: "form";
}

.modal .close-btn {
    grid-area: close-btn;
    justify-self: end;
    font-size: 3em;
    margin: 15px 22px;
    color: #949494;
}

.modal .close-btn i {
    cursor: pointer;
}

.modal .close-btn i:hover {
    color: #545454;
}

.form-container {
    margin-top: 50px;
    margin-bottom: 10px;
    grid-area: form;
    min-width: 66%;
    max-width: 90%;
    justify-self: center;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "model model model model"
                         "areas areas areas areas"
                         "daily-price monthly-price mileage manufacture-year"
                         "photo-upload photo-upload photo-upload photo-upload"
                         "form-buttons form-buttons form-buttons form-buttons";
}

.form-container .model-input {
    grid-area: model;
}

.form-container .areas-input {
    grid-area: areas;
}

.form-container .daily-price-input {
    grid-area: daily-price;
}

.form-container .monthly-price-input {
    grid-area: monthly-price;
}

.form-container .manufacture-year-input {
    grid-area: manufacture-year;
}

.form-container .mileage-input {
    grid-area: mileage;
}

.ant-input-number {
    width: 100%;
}


.photos-upload-container {
    grid-area: photo-upload;
}

.photos-upload-container .ant-form-item-children {
    display: flex;
}

.photos-upload-container .ant-upload-drag {
    width: 150px;
    height: 150px;
}

.photo-upload-preview {
    width: 150px;
    height: 150px;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    margin: 0 10px 10px 0;
    cursor: grab;
    justify-items: center;
    align-items: center;
    display: grid;
    background-color: white;
}

.photo-container {
    width: 100%;
    height: 100%;
}

.photo-delete-button {
    position: absolute;
    margin: 5px;
}

.photo-upload-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-buttons {
    grid-area: form-buttons;
    justify-self: end;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.area-tags .ant-tag {
    margin-bottom: 8px;
}

.login-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
